@using DayAheadPrice.Extensions
@using static DayAheadPrice.Logic.GridScaleSelector
@inherits ComponentBase

@{
    var gridScale = GetGridScale(Max, Min);
    var barHeightPercent = 100 * Price / (Max - Min); // May be negative
    var gridHeightPercent = gridScale*100 / (Max - Math.Min(Min, 0.0m));

    var gridLines = (int)Math.Round(100.0m / gridHeightPercent);
    var emptyGridLines = barHeightPercent > 0 ? Max / gridScale - (int)Math.Ceiling(barHeightPercent / gridHeightPercent) : -Min / gridScale - (int)Math.Ceiling(-barHeightPercent / gridHeightPercent);
    var fullBarLines = (int)(Math.Abs(barHeightPercent) / gridHeightPercent);
    var intersectionEmptyFraction = gridHeightPercent - (Math.Abs(barHeightPercent) - fullBarLines * gridHeightPercent) % gridHeightPercent;
    var barVisible = Price != 0;
    var mixedBlockVisible = Price % gridScale != 0;

    var eventToRun = $"setPriceData(event, '{GetPriceString()}', '{GetTimeString()}')";
}

<div class="fullheight @(Time == DateTime.MinValue ? "costheader" : "histogrambar") @(Time.DayOfYear == DateTime.Now.DayOfYear && !CurrentHour() ? "currentday" : string.Empty) @(CurrentHour() ? "currenthour" : string.Empty) @(Time != DateTime.MinValue && Time.Minute == 0 ? "hourbarrier" : string.Empty)" style=@($"width:{(100/(Count)).ToString("#.###")}%") onmouseenter=@(eventToRun) ontouchenter=@(eventToRun)>
    @if (Time == DateTime.MinValue)
    {
        @for (int ii = 0; ii < gridLines; ii++)
        {
            <div class="noprice gridhost" style=@($"height:{gridHeightPercent.ToString("#.###")}%")>
                <div class="fullwidth gridnumber">@($"{Max - ((ii+1)*gridScale)}")</div>
            </div>
        }
    }
    else {
        @if (barHeightPercent > 0)
        {
            // Over zero
            @for (int ii = 0; ii < emptyGridLines; ii++)
            {
                <div class="noprice" style=@($"height:{gridHeightPercent.ToString("#.###")}%") />
            }

            // Mixed block, may be height zero
            @if (mixedBlockVisible)
            {
                <div class="noprice" style=@($"height:{intersectionEmptyFraction.ToString("#.###")}%") />
            }

            // Full bar to zero
            @if (barVisible)
            {
                <div class="price" style=@($"height:{barHeightPercent.ToString("#.###")}%") />
            }

            // Pad under zero
            @for (int ii = 0; ii < -Min / gridScale; ii++)
            {
                <div class="noprice" style=@($"height:{gridHeightPercent.ToString("#.###")}%") />
            }
        }
        else
        {
            // Pad over zero
            @for (int ii = 0; ii < Max / gridScale; ii++)
            {
                <div class="noprice" style=@($"height:{gridHeightPercent.ToString("#.###")}%") />
            }

            // Under zero
            // Full bar from zero
            @if (barVisible)
            {
                <div class="price" style=@($"height:{(-barHeightPercent).ToString("#.###")}%") />
            }

            @if (mixedBlockVisible)
            {
                // Mixed block, may be height zero
                <div class="noprice" style=@($"height:{intersectionEmptyFraction.ToString("#.###")}%") />
            }

            @for (int ii = 0; ii < emptyGridLines; ii++)
            {
                <div class="noprice" style=@($"height:{gridHeightPercent.ToString("#.###")}%") />
            }
        }
    }
</div>

@code {
    [Parameter]
    public decimal Max { get; set; }

    [Parameter]
    public decimal Min { get; set; }

    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public decimal Price { get; set; }

    [Parameter]
    public TimeSpan Resolution { get; set; }

    [Parameter]
    public DateTime Time { get; set; }

    private bool CurrentHour()
    {
        var flooredDateTime = DateTime.Now.Floor();

        return Time.Hour == flooredDateTime.Hour && Time.Day == flooredDateTime.Day;
    }

    private string GetPriceString()
    {
        return $"{Price.ToString("0.00")}c/kWh";
    }

    private string GetTimeString()
    {
        var endTime = Time + Resolution;
        return $"{Time.Month.ToString("00")}-{Time.Day.ToString("00")} \u23F2{Time.Hour.ToString("00")}:{Time.Minute.ToString("00")} \u2014 {endTime.Hour.ToString("00")}:{endTime.Minute.ToString("00")}";
    }
}